body {
  margin: 0;
  padding: 0;
  overflow-x:hidden;
  height:100%;
  width:100%;
  background-color:black;
}

.FirstContainer{
  height:10vh;
  width:100%;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.TypingTextContainerDigitalResume{
  font-size:20px;
  width:100%;
  top:0;
  flex-direction: row;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.CVpicturecontainer{
opacity:50%;
margin-right:200px;
}

.CVpicture{
  height:500px;
  width:auto;
  border-radius:400px;

}

.ContactButton{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
  margin-top: 10px;
  border-radius: 8px;
  height: 40px; 
  width: 100px; 
  border: 2px solid #b4b4b4; 
  font-family: 'Kanit', sans-serif;
  font-size: 16px; 
  background-color: #808080; 
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}
.ContactButton:hover {
  background-color: #ffffff; /* Dark background color on hover */
  color: #0c0c0c; /* Light text color on hover */
  transform: scale(1.05); /* Slightly scale up on hover for a subtle effect */
}

.TypedTextIndex {
  color: rgb(255, 255, 255);
  font-size:40px;
  display:inline;
  padding-left:15px;
  font-family:'Kanit', sans-serif;

}

.CursorIndex {
  color: rgb(255, 255, 255);
  animation: blinkCursor 1s infinite;
  opacity:1;
  font-size:40px;

}
@keyframes blinkCursor {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.NicholasVandremoContainer{
  margin-left:100px;
  display:flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  
}

.NicholasVandremoContainer1{

}

.NicholasVandremop{
  font-size: 64.72px;
  font-family:'Kanit', sans-serif;
  font-weight:bold;
  color:rgb(255, 255, 255);
  opacity:0;
  animation: appearAnimation 5s forwards;
}

@keyframes appearAnimation{
  to{
    opacity:1;
  }
}

.characterkeywords{
  font-size: 24.72px;
  font-family:'Kanit', sans-serif;
  color:rgb(255, 255, 255);

}
.NavigationMenuTop {
  width: 100%;
  height: 5vh;
  top: 0;
}

.LandingPageContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.EducationContainer {
  opacity: 0; /* Initially set opacity to 0 */
  transform: translateY(50px); /* Initially move the container down by 50px */
  transition: opacity 1s, transform 1s; /* Apply transitions */
  height:40vh;
  width:100%;
  color:white;
  display:flex;
  justify-content: space-evenly;
  align-items:center;
 
  font-family:'Kanit', sans-serif
}

.EducationContainer.appear {
  opacity: 1; /* Set opacity to 1 when the 'appear' class is added */
  transform: translateY(0); /* Move the container back to its original position */
}

.HighSchoolContainer{
  display:flex;
  justify-content: center;
  align-items: center;
  
  flex-direction: column;
  width: 30vw;
  text-align: center;
}
.SonansContainer{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
  width: 30vw;
  text-align: center;
}

.BIContainer{
  display:flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  width: 30vw;
  text-align: center;

}


.CareerContainer{

  height:40vh;
  width:100%;
height: 100vh; /* Set the height of the career container to be the same as the viewport height */
    opacity: 0;   /* Initially set the opacity to 0 to hide it */
    transition: opacity 0.5s ease; /* Add a smooth transition effect */
    background-color: blue;
  
}

.SonansBilde{
  height:40px;
}
.FosenBilde{
  height:40px;
}
.BIBilde{
  height:40px;
}

.HighSchool{
  display:flex;
  align-items:center;
  justify-content: space-evenly;
  text-align: center;

}

.Sonans{
  display:flex;
  align-items:center;
  justify-content: space-between;
  text-align: center;

}