<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Nicholas Vandremo">
  <meta property="og:locale" content="nb_NO">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Vandremo Portfolio">
  <meta property="og:description" content=" A simple website that showcases a portfolio for Nicholas Vandremo.">
  <meta name="robots" content="index, follow">
  <link rel="stylesheet" type="text/css" href={% static "css/style.css"%}>
  <link rel="stylesheet" type="text/css" href="responsive.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Kanit:wght@300&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="Favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="apple-touch-icon.png" type="image/png">
  <link rel="canonical" href="index.html">
  <script src="https://kit.fontawesome.com/2f6891e516.js" crossorigin="anonymous"></script>
  
  <title>Portfolio</title>
</head>
<body>
  

<nav id="navbar-example2" class="navbar sticky-top px-3 mb-3 ">
    <div class="container ">
  <a class="navbar-brand " href="#">Portfolio</a>
    <ul class="nav nav-pills ">
      <li class="nav-item ">
        <a class="nav-link " href="#about">Landing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#languages">Languages</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#frameworks">Frameworks / DB</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#wordoftheday">Daily Word</a>
      </li>
    </ul>
  </div>
</nav>


<div id ="main" data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px 0px 0px" data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary rounded-2" tabindex="0">
    
  <section id ="about" class="section">
    <div class="headandtextcontainer">
      <h1 id="Nicholas">Nicholas Vandremo</h1>
      <p>Solution-oriented, efficient, cooperative.</p>
    </div>
  </section>
  
  <section id="languages" class="section">
    <div class="headandtextcontainer">
    <h1 id="languagesh1">Languages</h1>
    <div class="languagecontainer">
      <div class="Ccontainer">
        <img id ="Cpic"src={% static "images/Cpicture.png" %} >
        <p>C</p>
      </div>
      <div class="pythonContainer">
        <img id ="pythonpic"src={% static "images/python-logo-only.png" %}>
        <p>Python</p>
      </div>
      <div class="javascriptContainer">
        <img id ="javascriptpic"src={% static "images/Javascript.webp" %}>
        <p>JavaScript</p>
      </div>
    </div>
      
  </div>
  </section>



<section id ="frameworks"class="section">
  
  <div class="headandtextcontainer">
    <h1>Frameworks and Database engines</h1>
    <div class="languagecontainer">
      <div class="flaskContainer">
        <img id ="flaskpic"src={% static "images/flask.svg" %}>
        <p>Flask</p>
      </div>
      <div class="djangoContainer">
        <img id ="djangopic"src={% static "images/django.png" %}>
        <p>Django</p>
      </div>
      <div class="sqliteContainer">
        <img id ="sqlitepic"src={% static "images/SQLite.svg" %}>
        <p>SQLite</p>
      </div>
    </div>
      
  </div>
</section>

<section id="contact" class="section">
  <div id="contactContainer">
  <h1>Contact</h1>
  <p>Contact me at : nicholas.v.vandremo@gmail.com</p>
 </div>
</section>

<section id="wordoftheday" class="section">
  <h1>Word of the day</h1>
  <p id="english_word"> {{word}} </p> 
  <p id="openai">{{definition}}</p>
</section>
</div>
      

</div>
<script src="./node_modules/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src={%static "javascript/javascript.js"%}></script>
</body>
</html>